

@font-face {
  font-family: 'Product Sans',sans-serif;
  src: url('ProductSans-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans-Regular';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADeUAA4AAAAAj3gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHREVGAAABRAAAACgA
AAAoArQDaEdQT1MAAAFsAAAJMwAAN6YvpVENR1NVQgAACqAAAAFIAAACDH6kdutPUy8yAAAL6AAA
AFgAAABga1P1RmNtYXAAAAxAAAAAfwAAAKzNDW/9Z2FzcAAADMAAAAAIAAAACAAAABBnbHlmAAAM
yAAAJS8AAEt8s61mBGhlYWQAADH4AAAANgAAADYXTbHJaGhlYQAAMjAAAAAgAAAAJA/nDBhobXR4
AAAyUAAAAjQAAAPACrgjeGxvY2EAADSEAAAB4gAAAeLcwclObWF4cAAANmgAAAAgAAAAIAKEDGRu
YW1lAAA2iAAAAPUAAAHeJNQ/LHBvc3QAADeAAAAAEwAAACD/OQBUAAEAAAAMAAAAAAAAAAIABAAD
ANYAAQDXANgAAgDZANkAAQDaAO8AAnja3VtLjBxHGf52vZPEk+A18W52vYmT4DjBL8juxsY4L7z2
xnEcBwwYiHgIRUmERCwLLJCAgwGffEOyuAArARLaiy8j0B4YIkWKBolc+rIcGlAurSgrRS1Fe+nL
HJqv/qrqx3T3TM9M7+wq/au6a/pR9df//v/uwRiAOubxPCaWz1+6grnXf379KuZ+cP3NtzB39bWf
XMMcJngPwhDq3rG33rx+DfeonrQJjPM4zjE+4q/Dcu8kLuIKfoifEW7gFn6Pv+Cv+C/exrv4F49j
vGMS+zCNBzCDWeznHAdwEIdwE7/Bn/EfjjcdepgJA9SwLzyL2bCF/fw1F7r4W+hgF5+s87k6n6xx
vGleG5f9r9km2PPxS/Z+Zc7o8dSZXRzP53gex/LlvI8HeH5MxlV79fw+znOG7VzYwE3eMSbPjy+e
UetbfPfEn/AqXiJNgnCT4PNoANu+deIQeqFDDH2uRv1yuUp9nudGhJGbxC3GjzxN3+cobLeFZm64
Et5Q9Nie+bPzUpY84ZGTvW8UUkapaUQcc6305HKtpTg3ClnK0Mg1mLrZ86OR7X45MSr7UGaeUWn/
J2GjNvpbad37liM/wisYDUbKi6Qt9Q7girudOrbzNIhWeIV8ahFcNsfaR7bb1m7rs+Gqann045Ou
3OEkbX71NMr6O9MkUtlCTVM+viU0cUgrj7M1w1uKPjzTND6vlZb2HBoF1sew72217Rm5HLUMHZQM
OMn1ZXx/o4fvf6MqroVN7t8nbCgJDtejK2sqBk/c+Y6KcDXNLLZhI70K2WrGfjpKD0TqCleh5s7n
i7a/tifysJmiV9v6jtI8rZuIqt2vhTHao2R6s3M96oz1F+kYPOPnIo/SeWcvXPLGNHwIDCXaKlYT
eniSOfl2RvkddI6T7ek1RlbN9PIxy8VHc8gXb+5rjsVYxl61n5Xl06is1hquifQYrFq0Q6sRNx2x
UX638VSWnOCaH6+EvzeMRisZb5WOdjaNNNu8VmPmCw8jmlEXI7wK7XyQ4pob0UyeLGc7tzrL7n+8
HYDRw/nyKJwTfbMcS+tPeUyL7UQ5q6QzVdF4P1y3WVpa17LjZ61AQSWhw+t0akgejqRNSzz2utj9
RN6o9S2B35pojNbBhvUC3fQnXDH66hZ71Vw58lIWMtDRD/2cG69Ca0qRhRROt2N/k8qCAxOv+Hnz
F9m1NG+47tuqNkIMNohXg5TZHCxvT1ShVjmqq2iW2Wq5I7Q7vWhsN4eJkWRVfmyTymqisX4bYgWi
3NBys4wOVWuVRNfWRNdajICasl81UW1LeMbYVkf2XcaoWZmRZ9RYtmaopfS26F1D5nFzZDknFi6O
NCrKy4Okt+tJI0d49b7hlqLJirEmjkSJ6z08rW+arop5kil4lkZydtVQzzOWL8gfIVFb87QUCmbr
ilMGo/fEBrnd67R6vEjPPQHrYT1rt3RMnD9SbIFUhB1rhYzkJKyQb2IJPxPrePk5neGPa+29tkNZ
OnSTDHn6jsT8a8IldVwJbxkrsiKyfSeuahfka+a68Lwp2uDYK5H1bkjm7KQxEKnZ1Ny1dEjGWZb/
1cl1/zFkZCGDdARvzrejY72qGksfUVLbxpI5GG9qW1PA+baGeBXprC6Wy7yxt9DqTFVXFdJZUS5t
2v2Nkh6tqvqcaGljW2tafjm5HLzm39tnaWuTjFF0zSET+ddM9FKLI7L+6ndD1Edy69OMUDzaukSM
U6gXU505QtrO0zL6pTCcSspilgqxRutaR4+t3ptb5bU7Wa3Jk7KKYpIhq8JxZaP3iovnG6Qqmc4Q
Yq+erH8Jdu5wfOgLp0osZKUWaXiMDleOUVHWFOva5GB+bTBedqkvbg4yqrX2g7/9FhrUetCoPlo5
UjFbD4xGiY8nMeRGMq82MXI7iZnkBkGnlemaowwRjUiG3S7K8qKo182fy+SHbdMvjCG7RlV+BiO/
BEYFlOmIaoMoYmslaxJlaxG6OqUydfM+K6ZDI2vb6cOD/r1WvxlAt0rwzth0Xrud+GgPKns3mbtG
b6zsN1rNPPqXiTDy31mVt9eUlVvmLaBn3hz3hUehFDTLSZWpSnhSD9XVEYWRzdqdXnZFdMiLs3ND
ba9iOWpulXSUjeGEznVp9aT/ksh/Vark9b7qCEGGB039PUDZWq06m+u7agX35/nFdN7fzkang0u3
fCXRiOpCt8tLRV6t2dIoIdkt8+bMKczVnI4I35Vaq5+b07pb8ZVJbs5bNzHSZJJPUVRb5/lu8VEt
IQ+1xPvIMhFbrTCq7RWxTQ6uXdV9vScximO/Ohgma9TfKZSPl7q+x/eGs3a2ptxfNtmNRvo4mKQO
EflvdKmZNAfjWvQeIKqwF73f65drpaavi2bUO2skpbhULxdXlrCjQQWas2NiwiqrPSP7yreavP8T
vVXkRR6rBJlxTGMCd7O3G3vY24sp6uMMHiEGj2EJszhHOIUX8H18Ea8Rvo7X8Qau4Crhm7hG+BZ+
hB/jVflvzbfxC8J3cIPwXdzE7/A9/AF/x0/xD/wTv8V7+Df+iP/hA9zBh/gYa/J/HR8XOdZ5fIp4
7CFO5/E5zrOLv85gnu3T+Jpgez/uJXZ78RIxvo84XDGrOMsxplL/3XmQcAAPcx2q9yg+w3aQKzqE
x/EEPovDOIKjnKXGeYB9bMdwHJ/HN7CARTyF57jm03gaz7D3HJ7Hl7jKF3EBL+MSXsGX8RVcxlf5
POT5i6ReenuS7STbvPTi7RLbkul/wRwniXsMs1zFrAHgIYEZWYMFsD1u4Ajpd4K4x7DAVSwYOEWe
KbhH1mABbJcMXOaqL+NZzrVgsJknLJPf58z+LtL/ZISr3k6RLs9w/zJh0TRwf1racYKi2tOEMT7/
ESl/mtcfJL0O8niBGII8XWY7QV48Reo+yxnUEwc47iIp/aKZaYbYK/8wZn7r430RJmOmnSPV9lNy
ZilDe6Sa+STnUZiCcrREmVEwQVovUQqe4H6JtDvCc0fZjlMCasT0blJqiryclrEv5GrMo6THMR6X
hRNqe0S+fDrKdp5tjtdfMFdOmhxIw73RKpTEqnbWrMGC6u83sEckZVcK9kag5PgQYUHWYAFsdxnY
zad3i3zsNXMuEx6iJtxv9vOk/7EIV4hkTKSgJjQCm+qnrv0f0cpPgQB42mWRSUoDYRCFv06HIDGo
CxFpVLJTdCPiwpUIStTMGJEsRAhRgtqIxCAIuvEELjyCK1eewUOoOM/zcIT4UiEgSNHvVb+qv+r9
3ThAmCHSBCdiyVm84lbZxyuVl1bx/EJlDY+geqhWCYgcAsWCX6HFXy4V6JBSV62izjAznDiHhKwS
pgdXlWEc56DO0l1FgE6iUvcamen1GUWhQzvd0oI2uUlPWfUIWYWr96g8P9FMTpGQNs24sJbnOFf9
r574pwyY0zb57+JM2/oN45wKew0ntdFV/wY7fzwcm4d9jmiVgz4GGWGMKU3Ns8AiK6yzyTa7/Kgz
ToYv4yQfxjHejNPcGue5Nk5xZZzlU7uTfAszvAjT3Jmzd2GMG2GeS2GWC2HKvkXtHs92Ps6jdTzY
mYD+QoRXy+9Nd6xrzrLGnUKMCh3mfwG7VEZCeNpjYGHyYJzAwMrAwNTFFMHAwOANoRnjGEIY1YCi
3KzMzKxMLEzMDQxM7UB5AQYocPf3d2cECv74z/TuPxvDVeYDDH8VGBjng+QYXzGdAVIKDDwAcJsP
7HjaY2BgYGJgYGAGYhEgyQimWRhmAGklBgUgi4mhjuE/oyFjMNMxpltMdxREFKQU5BSUFNQUrBRc
FNYoCf3/D1SrwLAAqCYIqkZYQUJBBqzGEqbm/5P/h/9P+l/0j+Hv279vHmx7sPnBpgfrH6x5MOvB
xAda946DbSYAAAtzLCUAAAEAAf//AA942p18CXxU1dX4O+9NMgFCMsms2TOZZCb7Mmt2ErKQZRIm
YZhsQxIgIEsMAYIGBAkgBalFahERUcC1Fpf+bbFoW9uP+lmLseUnfhYrrRT7o0pd0PpZpOTlO/e+
N2sm0f4l82Yyufecc8896z3nyrBMA8PAF+w4wzFShjHFaGMAXw3wI/4QZLPjE2b2wMQzrJPB/1im
cPIGcxrHSpm5DKNK05utRpXCwFlMSu5AcWZmceaq2e7Z4Znk4y8g8vJl/kthXi5cBYUHB+gsJim+
QOF0HnQ64erly5dxjBoH9rPPMAlMCtKhs+lsJvoySelLqqMv8j1+8aoj+Y65WxTbIrcmOZL24uuO
SPLbtmRH8t5UxV7FG/Y99jP4H7698cb5PXsQs2byKHzCyZg0JospYBi1JR8MtmRQW9IMeovZasNF
4G9S/BbflYpwqVJu1huUlQAKtSUKPlpwu7w9si6fY38y4LTXL45ql+bpOpauaXXn52cb+ZvubOOA
a3bvQm1h/axrbP3O2tURrs45C3N1cXmz/pre1eRcFtkJGl2B6g+zLLBlXvZ/S4sIb8KY1MlrXBT7
C6RwDqNkkhgD0mYANSNyN9xotZj1aeFKxdRv/qcEflnMj92zYsU9K95uLy5uL2bn+f0SkcE+oOcv
rNy3cuU+XXluXllZXi4/J+BX5Hv65DV2MXuRSSaYQaqWGsJ1aZQj5GEyqtRSvY5gU8ttUqONi0Lm
qNjFi2rqiur7bz08v9S8ckH5opiFiZa0fPUnVX+rzzubVXQLMLs7zNXV962t3KCrM9b115mzm7PS
05L5s2s/LIRZ6tacxn6yfiCywYxR2WDkKBVjVCLw+6rJUbBykcgVBqJAoSJbI7PawFrT0VFT27Bm
TQN70fHeX95zFDo/g6jPnASWAufMFubIcW9l4VJDJZj1Cjq8FieyF3E0/8VnzkIyleLPhGG4B/HL
yRw1EQO1TR2NkmDQSQ02Q6ZmXZhdMqwZZlsq7eH2yhaWNTZmsrffzmY26qWr8lbhDxFqppgxw6e4
FkKv0qTUKXUWXI4FSk6dsp86BVfJ035KXPPkAeY0s5OJJHttywcL2VilQtqRU6pKRfVJHk50SrRx
iZmZiUl5BDbIYBTclEcWrbIYqkBmtwuwqE4iLKlPIwVdFPSQEfjyFpxgb5D5RLZ6m6CmKT+Zm51M
dBP3vx3lbxZKHyOhO09oCaNSRjdeBS9/dfjwV4f5T9qXL29ftGyZ7PeHH3zzzQcP33ZkZNODD24a
OUL5iI9c1N9whtHqYpB1Jsh179b9rowtLW3tFWglYy4iLg3DZIHFaqsEAQfZJhPBGg1auMjbX7UV
pdWWmKtmOWMGXX1bbn0dKtz/XW4ryc6ZX6FLs/aPtA1s+B3CQ9mFfyA8lNywND1RZxMlOwcsJpF+
L2ipoNYgqdsZ55Q1GYvbFpWWma0L6kydKYsVK9vdW9zG6u/IXIt1xZX1ZlO9q9xYYO1Kt7nWti8v
lChdZT23U1uGa2C1uM7ZTBRZqUVrAVMM7rchRsfB79z8z6FioLPTLXn3QD28w5e6XDCP/y+ydqT1
3zgvMYhWQqJcq9RK1UTZkMDopj2q9uhW67x2R1VDzpJcuIW/EicxNXbv2iPr69aWNrTOq2wry4Se
zlcha8eZ3YQmhD2BfJCh9WSArFbQYZtcjWDlXoOhAoPjO9/tW7nb8XLTY2xcSumiRSPORXBq15Ke
fd/t7tsEctNlVsYfdJSVtrWVljkYke4PhH1F2dHatMoH2qGCf5KFl2TZbGlnL0oVGXMd8avRdmd5
pMhm8Qp2uMB8xmgldChivQTBhle/U2k0GG978TZ8VvJXBqqrB6pLRhyOEYfsto6SjjhJXEv2onXr
FmW34Ef8AnLK+ouL+/mttVZLba3FKuyJ//ptaaLhwj3nUIPDObp0ipMPsfx/Catfson/B1k9DPpW
7/V5cA31K9qnYWyApmX66RvUe9SO6tZj4ly0LrHiHM6r8QqpMH+pR+1hFZ3My6n6JxkMpXmMx7a8
grYFdTwPLBnKMGUYvMJvge/wfwK9+aXal5y7JUQOipmX4Qa8KvhZYinCqLU4w1fCGRi121+hRgOY
coR3RoCXEWbJwH9hOGgL6BHedz6h0JwvUd9wA36JvkHKZNBdFfy9jmxuJRuoXlEgDZeGKyGyFKk2
KHv1hQlqdZnZlepS3uLo2aBPiufYCjE0KMirzo2Ly9PkF/enl/SsXZTelKLhWJtN5NlzXDH7ApPL
mH2y7PFJJqPaZDHFKFQmI6JPDZfhB5ta/GOsKF7w08cvtTQ2ZxT1tA8Pt7aYJA1JyQtO89dPn75r
QXFi/eInL38wOLBgwcAC9oXLx7tva2zc2NU5UpbH/zs++967XnyRv/5iYm3qX08cvzxxo36kvn5E
2Eu01ewBGvughTeBCXQGrVRu4nSRELUKolbW8efrV3y6SUJipjNnQAM1ZB5H4ivWiPOiqXaQCMtP
I8J1nIlQnQMx4nsDcM47LLmW2h2dp54yz6swnnzJMr/WdoodX+c0tSoksZ2lnSPwYF177cTfmjob
BbuagTb8FO6TgtoWGWETddoCe6IAHnzknXceeXRFVeOdm06c2LSjp6rooOwdqHpnU2XPI5PMI6uq
yurIGgmt++kaZYRS3FhZuM7gsakN7z3x2mtPbN++9fvf37qdHf8tf+a3nfvHtt8r0EDiyKs4l/g/
NGfCvxgtXOVfpnJVz/fCo+zIB64POnGUb/wsEu3FiOMfd8Ojwnh2vPMfLs/avsa1od0EhZRstcwX
lRBBsFltWotWxX7dteLRh95996GWe7LnLdi2/okn1o86zBH8TegJg8ZDXWv+CJV/LDfOW3yMP+Yw
L3ElCjSwKwWacbUY95pidCT6dcNKt5s/wo7zb4Jpwgw1/C89a2QeF2IVMr7BTTYbv9eg/TmH36NH
UBPbriIswwGK8H+0Dqmdqcur6tw7ZB0LdesXLUCGaDZt9/KMHRTmgXIWKHWcVKnDeSZgu/mvIHH9
R0NutwTK2HEJ/ya/TgKt2/+ARN0L6308R05hFCnQr0TKrUjTPZ0++F/h32Po3+X4D9dn03H4T43U
fy35GsFLLlkvSVBseTv8FNf69Ch/O9w9yneI84dx/lw6H0wGwiAgc4cBJ7r7+YNk5sT5ffAYZgoN
+/j5VFdwz7gw3LNZBLMkVdgxpUIiKihr5F87f/7ho2/zSVeOHbtyTPYulL77p6MP7zhx48SJG6Ic
JlLZiKHSQR2j4NSJID7u/rJn9+6ew0dK6+tLcZc2n97c2drbyoi4z1HcUdTTGrwCg95AnWG0GWxq
wflgELuhyOF+mBKyzci/V1nmbFjUjuQcK2zMEih6dl1zY+KdRdscY9uQsBOMR0eKqT5rRB1BNY4G
OW6eLs4bfzQghcsa2d/d+l8rD9oWClS6mzdGc/yfJZDG/wVGG2wFrYwgOywgvZlBcYGBOgkq6fkg
xGHqZE4RxUJs6/1qZ/SS0vLFi919y7Ys69kQ45y1oNjSXFdjWdCYkbOgXbbSnVbWNs9aXp2Y3NfU
sqHHqksrLcvNtKliUi0LV7UXxgnygStgJVTfScyGsYxSB+Xu1+Hj19mRTlGGipG+Jhwjo/RRqVZ5
pBuqb/uBu+uHXe57ZUfvRA9Sunj16sXwGl+5/SE6N1KUbwKfo/IHEHFz5auS8ZX8TZSbn7N1VH8Q
NreP8pQBjoqnMBr/cft+1XtEcqT3t/0PSB5yPSS5l6gcXOAz8f1NOM/nsSaBToTBrhJlVS5M5+QE
kuza5aHnJM8NXb42+IrkFdgA3fynEMs/ye+HDP49L531gi1CPoiTocv9+eD/kzw7+Am0wHb+z6Dj
d+DYVBwbKdotC6DlUaK5S4Vt/A+Qql2wo59VdPZPfNxJ9W/yLlBwGrJ+NYkR8dUwPjq6lTton5CI
8btfbB4mBRucaOJ/2SSjwTn9e+rkXczHAgw5bhEqoOVjhMFpbg7a2ZuCP4+EI3BW4DO6JcySkdFn
+7dJtvX/vAGO/OlPYBRgMZOZcGlyhOBSEsIvXSABATD9rJ257snBDKbrjoYB1j4m6FMisW1wAyMr
PbVughcOjNuRJl24AaVCTBjOt67e2tNmbrJmVkc6Ywbae7d2Smw9JUsMrTW1lbLuJkdPcpS1Wq9N
z20eGuAv1Dqdi0tTSw3p2SSGQXlLR1piPZGyjvJNaqKoFASNWTD9UFbcpZJgqC1RdRX37ds3VOV2
V1X39MgK02vZ8cu16YWH/nLIufT40v5HxVyTrOULXIuSQjYH+RHiKDVD+/cPtQ/GOfXLK5YsqbjF
0B63Tnb/pfsdFTr3wJEBt668TeAJG+FHowDJZKC7o4sCPxrDkLA+QqfE3Yl0ZiF91UinDElDMi9P
mJFMJxKIZPr4fRNplDPxgsYJsaxUSwwDoVFOzYEUVOu+u2f1rbuA3ybpqViua9cMmbkF9abmKNnB
9WuP7L89psnlTCtpgapse5XVq+8wyJ4j6wcxREgCIpdE+U2ICdJyk1Nl8en5Y2Nut7ufPTd3YURO
VqWTXwOHnNXN3ZQ+DRuB9CUFZl0VgOvWeVlBgrRwzseGuR1DGmdUc6G9Q6LptBGe2Do1ks77lon8
+LCjWJdp7WktoJuGnOEL7twFuV7GkBhYiBcwxpF7pAEFL8ZMRA7f0RMpXEU9/e7NJcQvX67VFQ33
8m9D8t6ecv5znIi0k2j6efZtIYbzxuMoXndb9XqrXu52s+168nFiL0bH7OT5yWRxvMJvfBp18IIF
FCY+mZCgmRtV6m4Vp998crYj3M7mTrzdttBD+98F2ySPsaEwo7cwEFd/8O3bfvX6uiNNSDC/4I+S
X6F3+HvTwzQ+IinEQTHWQAoPIm3jIiwuFfmvpd5HSRlBU0fKDL3IDfFDcadE2ZGzIat8XUen22qz
LqAPuIrM6e1d10fY01TpLuM/97wzPl5TGUReT2X1AT9OU1h+jCZ8o/qhwPk0Z4olWou884TnP7q4
f//F/T/f2de3sw9uoG7df4l/H3d56XEq/+bJTJasz6f/amoAQui/zadXwfp/gT0zRf8JXZlUdgXY
FluwyPoJ7DMeq0KVt/NLUU4vXKj1SOhEJSQGyect8BVZsUmkV1Qx5UEkMaqjPVEXm2JsgauOTHOk
S7qwStRJ1PfnkSadf+xoLgCf+xeMagrQhOHT9rVx7YbeHFvN8gLnxoXVK1WOhMVZxdVL6+YPyhzl
aW59SmGMJrKmpLqtzKatTkvKjlbLWovmdwq4roOLHRPzBAtVehM9rFLQPAoiW9pcLvfo6Py4mNTk
iPZmAOehQ84bjoiFc8l8M9J6BXdYTk8+BO5RPRDiXbiC4uYqdPdRyaByAbn8B3e7yyGKrlWCj0+F
vNMketmzrw0cYO9b9jqGxXfBVl7lGceScfSEZQ74ogET6+jdsnnJI/23wua+zTDYC6M8qiq68g3k
ReZG4OOccA6nRSXT2Qwmtc0khXODm28ffPbpVZs3Dp48derrz5999nMBF/pEggvnqXU2AdPP+zac
HbiP3T9w4V/wBn8c+gW/D8/guCC/r0aRH+M/ggQH1Dsd/MtOgc93QTL6bC3lcwWgUFmIiTRbyzDI
J0ZXIVWq8KnC3yGipSs7NTW7q0Wl0hXU1RXoVFu7m09m5dhzsk42d9uN2Sd74iWaJSezjXYaU+xl
jiJsjsYUMQ3OUe7AzWFvrAB6Aa9aZ6FW2WyzUAJo9ExRmpSUgHCrF51KJGArwbVEI4nvIbj8aKCw
mavoO+8ke5+RRp2/jsonYrGZMBTcrH1SrUpgGxoL0x8TPlytTlGUN9EHPUfJZE5TmzDXZxMSwISm
sJOegqhmN8x2ww3hBKQYIvkvL1OdpfWJZzB7TiaczwffWb3eEGMlHlGq5DA4jomCa32bNvXZa7pV
zqT59cntqiU1r9aZTHWuqO+d/V6UyxXRbNHVxfI/jKnXme2zFoNrfu9c6JrbK/AOH/9if8Hk4vp0
JFkQTha0FtRGAzIzXxIUjiMFJli4sYx7oVJtzxvhzy5j+2u4pNmx0pFux0Csc05JvqVCnRex56uw
zkquJHW9I29FeFRLWJEiJ1PVtslVrMsw1+SkljbEUNtUzvSw8WwhE0d2Lz3NIDWQA3iarxjVNrWU
JjBSg95zyLH+npIyS3lGRrmlzHbAVmYpS0/Hx4tDLS1DLWuyS6ylxfNrbGXWkqws/GyrrbGVWkv0
bSNtbSOMN+YtpHzFmNHvwBpfomqa4H+feuop98mTJ7ecWv205InVL9yOMm5/8km70w7x/BXyEuwq
lUn2S/HcSUfTaNNRJ/4Ho7D15kE4yojndBr4DHOdIqY6ZLbjKzlQHtOMh5yV0PMlTqWm58WGNAOt
QYCsdZfaKWuxWezNrh5XTpZzXV/LEKZC1bnGqpJ5hfXz09KTquuWG/N1ck1TBwfpOcUfLu9Nq2gt
zTFWxCd1zjc0acw9NYNui05bZqnNV0ZrjY35OY0qW0dFVxYcjpZFm9Xm8gSYU5KYnk/oL2O7YTE9
LyBc850zek+nyGdIVOnS1HGp2l+L72x3mlqjTY1Tp3neyblQOsjgGs2RlUwOckf0Q7jLfifvnrNM
jxMQjrtg9St79vT17r3SvHaNvXntYKuxrtZUaEhVaZNyc5PSNWkIe88re/b29nWsbbavWdvcNDiv
vshYZ0jS5KSm5KYkFJK9QPwvIn4a18sD4nr/sJ4Gs564/lzd8o1t9YU1RU1JLdE9DYs3OSWKpjRT
m662vMyC+1Fd35YYXWAuSU2vW9bB/7tSm9Naa0o0pqWmiPvPmOEa2tAwWqFBabalsPhQ7z1uPXvW
mkmfEP208b33jE/TJ6lvMKvhMuwgZxxyixZJKoQXGsBi5z8cF/zutLURSQCPM5j8ablMbKWQxmOs
YdDZxCReGczonPz+pNwkJVtutmny58bGzC2Ywui6y9nJ6oxw1sk6s2WRc2KK6Xkruw6c7M8IjcRz
gJP/EDTsOnKUwKTCy5CBdmc2icrl3voLTafEU/vHrC0tg/YWS1xGujkjA162W6zNzVaLvcoQn6DX
J8QbGHr2i76VjUHORgdVoAhGsQoFfBNueszD9ofxZ+Iz4k800AsKjHFVtDKL4WHguW40mEBxY7s0
O1lVFFk9a0GesbnK/Qj0lo9Js5PkcaUJuabywoKqHiGWARfoEJaOrsQTywSWY0T2kyU+UtQYWR1t
1WSkxWdlqJOSFdmyyqQea21eSSu4TEWa8mSNOqE8XinX5MS1lxXkJ2lNliqC5zBrh0JPvmozfegw
e/JVEqNk0hhFKcQo5PBYiCD9oxTjCnMBRo5CnOLMLD7NnvGPUzQkBhXi9TBMjajQaEmSBKPO3CW7
di2BTKfzAstsfGXjTTcn5OAKTK+Pwl5iAT2Zwgj1a8CIFQFgFkzKYTaOjguI9ShbMEQR7ccTqaY5
5jkpsWp1rGJuga5YOXu23lL6iT5JnaaRxcTJVEsKWWsWAqR7x7yIdIZTq0uAvFhfpRnOxy1Nirda
qM4RHbhEdUBObZbZGhxGs0u3bVvaf+ed/Za2NovV4QDZrtd24Y9j8c7F+EN9k5mVePR2HqDGSoVn
+XGis/fR58qnfYqLulc4eZ39IcoCqZMpyYrJblhsNNwMM4AaxCIhehx2tP7kczWFhXxGCbxVzPcL
a2CXSRoKv7pa7shgf6bnf0xXNHF6F7GdBPY5hM1hjqwVapryaWRXwHI/AbxmihhP8BRVBMEw0R4s
0hhwUy7StXCcuBYjY526lm8h7GFkoefFhcYReia+nkH+KwNW/8PptOGtXcKZpwZeobFVhi+2UpuI
64xilZ7DDeqkKsFG+PTOTGUaMQibqU7DCfUQ7i6aS0cHVkRsOoMpqCqSSY6UvJWRp8eYb4ZhC4aR
S9R8RhjKQBgG3CJq0KVBkL53i+OWLmOE0Qft+bBNm8LKy73w9lF4SUE0kbjXG/aSqDcIbmX8Imky
Z6/LjneGk3c/+Hm60nLyon7Jn2Y1sZZBWELGFUG4XMFRhhfXz6aGG951uRkZZn8kkpb7qqRyL2ox
uFSpIyczynNzKjImfXUtmUaTqlFGs4+nFOWWV+QUpk64BXzr8XtNqhoEH4+5G3cPPcuVk0zYVwtS
Ej/EmWI2DMGP4YKvKsT/G+D3b7HjnaQ0dAZe4B9Hb07qPnJa08oXI0V/WynmxoFFrmjwBGCPBFjQ
5P0vBda+Cu91RgXbVEf0uYPHfeWwkjq0/9TIes784Srul+Bb/apbBpT0wArXCSLoYpWreGzmubag
uc8TAQ89Vxk4N8Mr2YEQ+OMeyRbBVHrl2geLSlwAJdNFsgGwdxCBIgInvntQ1IcQN6Q9nNTKEJ/Y
V2aKQX00NbjDRUPASca8vGWuBI6z0XHmgHGTf0eaw+i4ueI4Lw8a3L/0U2hutmfNk1/jzH9yu+ma
E3xRLlmbye8zh9CMohoNi+/73JxcpxIW5Hm/+Qmt99FYiz1L8wBaAyKn8kG1UuIZ7rLb/Sumr78O
8+xQ7S2bfmT31pOG0d7MFarD/lU2+RR74193+3qqsfGrw3GzvRaHE+pxyDtST1OGqsih8TEFV+Wg
FLcqsDTHJoxRW/It4NlCwTPPCG83hZcQCp7cu9fBUHeJOx8EOM0r9wLsfRS2LiStU7g8hfLmIFYH
IdP6jLskgDdJtBsmFMaQ+jYF78oglQvCmzVV80hvRzXmS3/2RmoYpWGiJS0/dsx0/LjwM/LQQ6aj
R030KfL/PS6M/YL2H2b4etJM9OBB6FNIM3AKNRB7C0TEDaB6Y17G/KbzD3e26iv1wofBXsgpqdx4
DGI3Huvl37FlGMrMR3oeftdQkVluOdL18Lt6cNy9CN5POMGvOLFtj5PXxgs2gNYYkWcy78mkf5WR
GA5fpdFOpDK42sgpxr4NHJsfnE4ijd8IJz5U1dNnfL3Q+H955HAKyHhRFJHPPriJYr03iMLpDLEX
jz5YIqagS5siFELvSj2Vybl+Fc45REt9Vc4oZIiv0gk/89lnWoufI/hzcrItVOPlOiWtxz/udh8W
yvFHSEGeHd+y+fRmaL9BK/LkvPI6GyvUt8EjSpapsbJQtRADEjhqnr97QJWQoCppd5VkxJVW1xaV
VPVuHOgZdcEOVWdV31ZJp8Rusza7KkwFZQvL+HC40b9zyLkqj8pzotiPQc42sr911ZKUPmesXN5G
RG+G6iUbIcak/7/4bTPjX05E9j/FX/it8fsc6oxUtHkkfSZKorz2V6DlPKWl+NvzYopRnpGmncEG
eibaogNicYG+Nyh9RqbyP6EwpK7OSOeRoKB9RjqVwfGHj15OQuktYGzfmt5Y8WiJ9I9TLzQjoRtc
FRWuii3p8fHp8TMRCdcqcjAbcLEJZKgoe1w35qKZjIkpDaZOJE4dVNImDX5+pGYIFe53Fw7diQQu
tLanIX1t5SuSajcF1Lsd351fe0dxNxJcX82WicVvJLYrWWaZX6fLtpsLB7x18OFh56LS1BJ9RtbH
YkGc9APIaT9AwfQ5RlCDgC/JSAhMMtzrg/sG1i6ckmW0yfYvH/b1EpQ5vFmGoCc3aR96PMnPZqj8
Ezs1ffX/JWKkQnQAQOIY85/isc2A5zlijL4RzxmKJ31mPD5/Oi021mN0QmHUeDysRz9uoj4TvESj
Z8Q8nb+dlo5LwQocip6sqYrLEuKYo957NuhHSe541O2W4H7B1WU07iAl4YuBY2xkTARxzcKYyfdx
zAQdM1cc42UfjvQkQnB1lZcp3CSpdP5DrFvMlAchtOygPCjf7Z5av5h4Eq6KfdesnH2bcpqR21Ri
ncrXrGvT0zqW3O+w/a6UpY0rE2v27Fm34sD+/kU5Em3ljkSXccm8rs7Kqq4udk9LgjFvfvJd43c8
eGDVmr0FXIu5pEYfP/GHrvq6rq66+i7xrPsq+hQ5iVZDdShkTHEfAT0LmiB3MbWJYbWfj+CEfgba
X0VPNYI7GohC+nc1/IZsaUBnAzw19q3g2ALgvEq2/ZvgxIWA45UIf2gxHtEIhPisT05EuOcpXG0I
uFO46g//3WCmBuJ5zstRiYjnDYongfQRhcAUUjH98X0ZpIpB+H46RQkx/mYU8Ck7m961InVsrUXL
BnX0w6ekRPIKPR4Vfj6y8+8HtPYTPr2P9EcijAR6lmL0Cb5Yt7VitiQnEk9F38CpQFNiiS9NdO0f
KjVqyuI79htzf5KSWt13vLov+ycJcEOTnZbXvG34fpVBm23fPnw//297EaRGLeUnlzqaC/m/zhV6
Y67BFWq71aE7MOh5VEAXxtMoi4GdGMSMfDtYtiBYP0N5nAHWLxBWUmhYfudVARD5I6JQBoLt9JNJ
H50ppE4aktLpzHgAruDzq0CUw1NzaVboDaG2NpJUx2zkiFTsY01DXjzvaRNh7WM33Z5WEZo/ZtIe
RsoPvx6maZsYJe6QXYwXuMeD2hg5L00RmOOm+vWsTMcEby/LsaD1e3pbhkOd3wH1RUfRzIv9Z+hb
BJufMXlN0oj5HDkr8DtFtHgardUWreeej6TRd3644lnSaf3sCnj05rv0cEM4Phy6kxxpbF83sVXo
/Rbix6MYkyWjT8nz664UbLx/zKg3RIGnHUIMGYX+zdpbU5JXVAeGivVrUlIGd1PDwZ4RQ0W0F/Os
1nle911hs1Y6qfX4rq9nsoRthw6h39dnV0s8543toqSyTD9bDIVchNCzHuvZAG+0/U9XBTlQFyJq
tjgwaqb9J4hnmH2LzJ56IgUQfNjX7nNQtAbOavxr4Jd89wPxb1yt39+4SL+7g/AFcxr3MpJW42l2
Tq+NfS/HKlxIYi8m2n0XEafM8b+72OOZA19MnTN5OOR9R++cVf5TWIIDVlEccYGUzYOQZH4Wkl53
EB1BcMGPkmj/X6QwZwrggEUFASa9TYdhFV1fHLlz8B/AXTUDvcA4mHGogl+QaNAq+qcbA/X1A/Xj
9eSNEWqhN9gD9P4nuWHkvaEW/C7cNHvV7xme6Xd5zXdXlPRoZNJar9ChITZniG0ZjPf+WLkwxr8O
LFSAGZh0TF6HblqfZaQGUN9Oqp20yCred1iCviKLyKPQvUozLKlJqSO3jPFNUHFiUEjjFdlpzVLt
c+ud1blFxc2jie9/zrKfv5842jy/OHvBkvXPaZe2syyM2Yd2ZjUntDbaE6Nk8fbG1lRH1s4h+9yk
xCjKJ3LP+mnEG4t2K1O8J5Xqn9yFQ8jmC/bBw+PjULh8Xu3o8KFDw1tcVWsmBgIaMmRvgvHNDZUd
93113/J52+BsiPYMgh8fc+k9WwU56dd67zxlhEQL/+OGg/zrEMf/nf99ADr2mc73XA+EQEJ6UD+C
T8FC+E5iGyGW+UjoT1g0+UduJ0fjf9AKTiIfzD7+K2gnnw7+CXulF3+y/tfr1v16/aMjt1f3rjxw
YGX3aNQl+I2h4CcfrPv15V+vGxytPDh+v7uJyD65Q5KAe01vt/m6ymm7hLev3HN30NtfDsXui6TD
HLS0gdrTaM6r4JCn1/xO2krtvacSIfSty/3b1cuAfER+nRP61VuvuPch7KvefvWJQnZrTpYHBleF
MAwBve9+QLyd8FO74S+KkBHLRf++eC8GoUPe2yUv8oVbhHzJJjloCL54sZi8fysDP1ax3f6somhb
Pc350/LNQ4GXPA8Tae8vexDXr/f0/oYgILAbmG1qaQvAezGgMzgQl69NWMDFjSOukkBe+wPXeWmY
jhFeBnjR5hJ6gjnhYYGHAA9pU1ghytHjSFdmiPsP30iGZ/ND4HaGRujhBXuIHSOZqsD3AAYIDdiB
bLe3tP3Ns16Xy/23AK571+g8dMiP50JN8kOqI/rpbneEibcFlJ7zdvaRgOsefJVE1mGOjpXHzl/s
nnL344ojp4jtZltq+C9JJCjEudfZt2g/ecZ0HeVTUO71bzGfuOiHMbDfHL4IxjebyZ3kIt/m0mnW
lcdYmHnMEmY1cyt6v7uDbr76XQxFxxueKiqVxGtgJVO+Af+7LL4Q2neXxff/Q8B1eGp4yWwKhImH
g5yNRqEw/qOvvvrRY7ctXLzpjpMn79jWXhSJS9gcvnSIXfeXI0f+coR/eUtnx9YOrt7/N/bNztH4
FbLaovnNkqLuFYcPr8hrVEqGvreyvK0NQ0UXfDkCLwwf+v6qwnZr6uxI/lhWh8PYnTz0wcezrWmm
Ltnn0P75+oWO564/117kHk7OfGLpxgcuP/DA5YKeuvru7vq63wT8xjt6K7P1xY5mffmRW4ceSovL
4fX77obFPbV1bnddbQ/745vXuYibHx4eHjmos5njk+9zNJbnNYBsWVyK0yNvklRqT4u/nTaFlEDu
nWm062L/RMR00jhF0wJFE23vZDL1SamBmq6NoRm6cHtnRufUWifc6Anlo8ilHnK9By4EeSpB158U
bKw8lJoHsIMy6qy/ovtMy5gbDvlrunexdP2Cf5lMpv7FxJTNvMb/wNH4lv0N/iaQB9N6HYHOa9xh
5Ek66eQJ8t6+hFgnXvQjYgHe5Njr1gMv4xAff05Mk/2c/RXv1RzikvlEz80fSoPkHNJgJVltsPcP
SUSIYMCXsvuHBVMo8wgyJxEp9AsWAikMFOaJEQ+9QqzSK8pRaI75H3YGBED+t+ACY6ErQTfiaGBE
cUkOIa7i6TkThOwbAqUgCkLETCEoCQ6gBB4g70hUGRzz+d+gC1i85zZd4ML5Gt/NOrJoYc0/QNhF
IWLBIODfsFg/jCEWGoQ5cJH/B7hAdKMAAAEAAAABAEHDrLIEXw889QgLA+gAAAAA0gUpJwAAAADS
BUTv/1D/AwzUA4oAAAAIAAIAAAAAAAB42mNgZGBgPvCfmYGB58r/gP8BPFcYgCIo4AMAmUsHFnja
bZPBaxNBFMa/eRs0xD0UrXQPIayQlqqphJJDtDEERVyEQlHRq0hPCuKlkoNK8R8weCriQTxJESlY
ocfeBKknRSqEWlSwh4jYm17qb3ZTCKULP743s29m3rxv184oEY+bVvZ0YUtV11LF2hqxo4qCU4rt
lsp6pYq7pBYMu2WN25jq5FbcUqpV91bD9pDxPO/ycERlm0ZPwigcgjiLfX669p/qNqk62nC/VA5m
OfeZQrusxL5o1N6gJSgoCY4xfk29PcahIrujxG0z32S8gp7gfa2v55g7Tk4RHnFGW2HwVEPoEHuH
5MWOXF+z8/FnhW6TPnR0w6SitVhTSLVokYruLvv4uMRdu5pQd+ej+068pnpwlVzmrcr7hmpQdLe5
0ztF7ibrSqpRZ87ArSvvY7fGmU1F+kENTfp7WPFu79NzDzJ3TQ32Cn2OjWic2qZsWGW3QQ8rMEnP
6X0616F/F1iDJ67KueehowV/tlG7lrhnRxe1TT05fKmw96aqQR7Oss83eub7vg/BKrV7L0p9L/rg
wwHvhXo7P+Gv/aaWvg97Ib+RqvdikMyLhLskad/3IbiHFjIfBkn71VULL77CH5uiJ7s+7GWsP+/7
MUDqC1579XvlHlDvCv51dNp/CxDbDB7fz77xXdzCAB3N2Co6i0ezamhxZ8bm+G8+KA4mMk+CLV2x
JP2GoqAN88TP0XX0JbyAHjVuqB5+UiVXJvb5i1lusKwo10OfoO/R6+hjRf8BzL6bxQAAABYAFgAW
ABYAFgAyAEQAdADAAQABQAFMAWYBgAGkAboB0gHgAfICAAIkAjYCXgKYArQC4gMQAyIDYgOQA64D
0gPmA/oEDgRIBJQEsATiBQYFJAU8BVAFfgWWBaIFvgXeBe4GDgYqBkoGaAaYBsAG/gcQBy4HQgdk
B4IHmAeuB8AH0AfiB/YIAggQCEgIdgiaCMgI9gkYCVQJdgmOCbIJzAnYCgoKKgpICnYKpArACvYL
Fgs2C0oLaAuAC5QLqgvYC+YMFAw0DDQMUAyEDMQM/A0iDTYNlg28DfwONg5QDmAObg6yDsAO5A8A
DyYPWg9oD4oPpA+2D94P8BASECwQWhCSEOIRHBE+EWARiBG6EfQSKBJMEpISsBLOEvQTLBNAE1QT
bhOaE8AT8hQaFEIUcBSoFOgVAhVCFWYVihW2FfIWEBYwFmoWqhbqFzAXgBfYGCgYfhjEGPgZLBlo
GbQZxhnYGfIaHhpaGpIathraGwYbOht2G5ob1hv8HCIcUByOHKoc2B0MHRgdSB2QHaQdxB3iHfAd
/h4YHjIeSh52HqIezh7gHwgfGh8qHzgfdB+0H+Yf9CAgIFIgdCCsIPQhKiF2IbAh5CIeIlYjHCNq
I6Yj3CQwJHIkyiUAJUwleiW+AAAAAQAAAPAAigAKAAAAAAACAEAAUAB3AAAA0guIAAAAAHjajY+9
TgJREEbPCmpsqC0pjNHCBST+21NqJLGwEnBhjbAQWPVlfFbj2ctiwMpMbvLNzJlv5gK7PFEhqu4R
sQ+l3qJmttQVbjksdXWN2eaLfql3JL5LXeM5OuCeOVNeeGdATp0uPTIWPJAwsjo2n9MipmmcckOH
O6Oj2pxdTZ78mX00m1t/lc3csPJqBYfuWqVpJZXK9SvYj99ezAWXdic6vulXMEOrY137XhVz5juX
vqIdfOoSBdPzjlw+lczCD4/0LVzbHP/zB2nwmtm5pmF8hoglpsZIKjErbp7YHYbbc+lGuG9gt3BN
zGcb+xbLfT81HEceAAAAeNpjYGYAg/9mDCEMWAAAJCMBjQA=) format('woff'), url('ProductSans-Regular.ttf')  format('truetype'), url('ProductSans-Regular.svg#ProductSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 font-family: 'Product Sans',sans-serif;
}


.top-buffer {
  
  padding: 1%;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.leftdiv {
   
   margin: 1%;
   border: 5px solid orange;
}

.rightdiv {
    border: 5px solid orange;
    width: 80%;
    margin: 1%;
    padding: 2%;
}

#vl {
  border-left: 5px solid orange;
  height: 90px;
}

#hl {
  display: none;
  
}

#info {
  
  font-size: 18px;
  width: 100%;
}



/*.head {
  direction: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.leftdiv {
  padding: 1%;
  width: 40%;

}
.rightdiv {
  padding: 1%;
  width: 40%;
}*/

footer {
  padding: 2%;
  text-align: center;
}

button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #FF8200;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
button:hover {
  background-color: rgb(245, 247, 249);
}




.fa {
  padding: 20px;
  font-size: 30px;
  width: 5%;
  border-radius: 50%;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

.total {
  text-align: center;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-github {
  background: #000;
  color: white;
  margin: 1%;
}

/* Twitter */
.fa-linkedin {
  background: #0073AF;
  color: white;
  margin: 1%;
}

#head {
  display: inline-block;
  text-align: center;
}

/*Phone View */
@media (min-device-width: 320px ) and (max-device-width: 480px) {

  body {
    background-color: #fff;
    background: #fff;
  }
  #vl {
    display: none;
  }

  #dev {
    
    font-size: 18px;
  }

  .total {
    text-align: center;
    margin-top: -25px;
  }

  .tfimage {
    width: 120px;
    height: 20px;
    margin-left: -45px;
  }

  #head {
    
    font-size: 28px;
    text-align: center;
    display: inline-block;
  }
  #dev-summary {
     
    margin-top: -10px;
    flex-direction: row;
    display: flex;
    padding: 1%;
    flex-wrap: wrap;
    text-align: center;
  }

  .sub-left {
    width: 60%;
    padding: 1%;
    
  } 

  .sub-right {
    width: 30%;
    padding: 3%;

  }

  .top-buffer {
    flex-direction: column-reverse;
    padding: 1%;
    display: inline-flex;
    text-align: center;
  }

  #info {
    margin-top: -35px;
    width: 100%;
  }

  .leftdiv {
    width: 100%;
    margin: 1%;
  }

  .rightdiv {

    width: 100%;
    padding: 3%;
    margin: 1%;
  }

  footer {
    padding: 2%;
  }

  .fa {
  
  width: 20%;
  border-radius: 0;
  text-decoration: none;
  }

  .fa-github {
    background: #000;
    color: white;
    margin: 0%;
  }

  /* Twitter */
  .fa-linkedin {
    background: #0073AF;
    color: white;
    margin: 1%;
  }

  #hl {
  
    width: 50px;
  }

  #div-heading {
    font-size: 23px;
  }


}


